<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CDAC purchase orders{% endblock %}</title>
    {% block styling_or_scripts %}{% endblock %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/vendor/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-touch-icon-152x152.png" />
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/static/img/cdaclogotransparent.png" height="40px" style="margin-top:-10px" /> Purchase Orders</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li{% block list_active %}{% endblock %}><a href="/purchase/">List your POs</a></li>
            <li{% block create_active %}{% endblock %}><a href="/purchase/create/">Create PO</a></li>
          </ul>
        {% if user %}
            <p class="navbar-text navbar-right">Logged in as: {% if user.name %}{{ user.name }}{% else %}{{ name }}{% endif %} (<a href="{{ logout }}" class="navbar-link">logout</a>)</p>
        {% else %}
        <p class="navbar-text navbar-right"><a href="{{ login }}" class="navbar-link">Log in</a></li>
        {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->

    </nav>
    {% block breadcrumbs %}

    {% endblock %}

    <div class="container">
    {% block heading %}{% endblock %}
    {% block content %}{% endblock %}
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
            <p class="navbar-text">&copy; 2015 <img src="/static/img/cdactagwidetransparent.png" class="footer-image" /></p>
        </div>
    </nav>
    </div>
    <script src="/static/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/static/js/pad.js"></script>
    <script src="/static/js/limitCharacters.js"></script>
    {% block body_scripts %}{% endblock %}
</body>
</html>
