{% extends 'base.html' %}

{% block title %}Respond to a purchase order{% endblock %}

{% block content %}
    <h2>Purchase order #{{ pretty_po_id|pad }}{% if is_cancelled %} <small class="bg-cancelled">This PO is cancelled</small>{% endif %}</h2>
    <table class="table">
        <tr>
            <td>Purchaser:</td>
            <td>{{ purchaser }}</td>
        </tr>
        <tr>
            <td>Supplier:</td>
            <td>{{ supplier }}</td>
        </tr>
        <tr>
            <td>Product:</td>
            <td>{{ product|safe }}</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>{{ price|currency }}</td>
        </tr>
        <tr>
            <td>Account code:</td>
            <td>{{ account_code }}</td>
        </tr>
        {% if approved_by %}
        <tr>
            <td>Approved by:</td>
            <td>{{ approved_by }}
        </tr>
        {% endif %}
        <tr>
            <td>Date:</td>
            <td>{{ created_date }}</td>
        </tr>
        <tr>
            <td>Invoice received?</td>
            <td><input type="checkbox"{% if is_invoiced %} checked{% endif %}{% if user_is_finance_admin %} value={{ po_id }}{% else %} disabled{% endif %} /></td>
        </tr>
    </table>
    <div>
        {% if user_is_admin and not is_addressed %}
            <button class="btn-lg btn-primary" data-toggle="modal" data-target="#purchaseModal">Address purchase order</button>
        {% endif %}

        {% if is_addressed %}
            {% if is_approved %}
                <p class="bg-success">This request has been approved!</p>
            {% elif is_denied %}
                <p class="bg-danger">This request has been denied!</p>
            {% elif is_cancelled %}
                <p class="bg-cancelled">This request has been cancelled.</p>
            {% endif %}
            <p>Think this is a mistake? Contact your <a href="mailto:gholtslander@cdac.ca">administrator</a>.</p>
        {% endif %}

        {% if user_is_finance_admin %}
        <hr />
            {% if is_cancelled %}
            <p>This PO was cancelled, but you can reinstate it by clicking the button below.</p>
            <button class="btn-lg btn-default" id="cancel-btn">Reinstate this purchase order</button>
            {% else %}
            <p>Important note: This button will do its work immediately, without confirmation. Consider this your warning.</p>
            <button class="btn-lg btn-default" id="cancel-btn">Cancel this purchase order</button>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="purchaseModalLabel">Approve or deny purchase order</h4>
      </div>
      <div class="modal-body">
        Do you want to approve or deny their request? An email will be sent to {{ purchaser }} based on your action.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="accept-btn" data-dismiss="modal">Approve</button>
        <button type="button" class="btn btn-danger" id="deny-btn" data-dismiss="modal">Deny</button>
      </div>
    </div>
</div>
{% endblock %}

{% block body_scripts %}
<script type="text/javascript">
    $(function() {
        {% if user_is_admin or user_is_finance_admin %}
        var $acceptButton = $("#accept-btn");
        var $denyButton = $("#deny-btn");
        var $cancelButton = $("#cancel-btn");

        $acceptButton.click(function() {
            var acceptLink = "/api/v1/purchase/accept/{{ po_id }}/";
            addressRequest(acceptLink);
        });
        $denyButton.click(function() {
            var denyLink = "/api/v1/purchase/deny/{{ po_id }}/";
            addressRequest(denyLink);
        });
        $cancelButton.click(function() {
            var cancelLink = "/api/v1/purchase/cancel/{{ po_id }}/";
            addressRequest(cancelLink);
        });

        var addressRequest = function(link) {
            $.ajax({
                type: "GET",
                url: link
            }).done(function() {
                // alert("The request was affected successfully.");
                location.reload();
            }).fail(function() {
                alert("There was a problem, please contact gholtslander@cdac.ca");
            });
        };

        $("input[type=checkbox]").click(function() {
            var poId = $(this)[0].value;
            $.ajax({
                type: "GET",
                url: "/api/v1/purchase/invoice/" + poId + "/"
            }).done(function() {
                // pass
            }).fail(function() {
                alert("There was a problem, try again in a few minutes");
                $("#invoice-done").prop("checked", false);
            });
        });
        {% endif %}
    });
</script>
{% endblock %}
