/* Global styles */
.bg-success,
.bg-danger,
.bg-info {
    padding: 15px;
    border-radius: 5px;
}

.bg-cancelled {
    color: #dbdbdb;
    font-style: italic;
}

body {
    padding-bottom: 100px;
}

.footer-image {
    height: 40px;
}

@media (max-width: 768px) {
    .footer-image {
        height: auto;
        width: 100%;
    }
}
